@model EditPortfolioViewModel

@{
    ViewData["Title"] = "Edit Portfolio";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>



    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.png" />
    <title>@ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/editstyles.css">




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>






</head>
<body>




    <!-----------------------start of header---------------------------->
    <header>
        <a href="index.html"><img src="~/images/logo.png" alt="website-logo" width="160em" height="120em" /></a>
        <div class="navbar top">


            @* @{

            var first = Model.FirstName;
            var second = Model.LastName;

            }*@
            @if (User.Identity!.IsAuthenticated)
            {
                <a asp-action="Portfolio" asp-controller="Account" asp-route-name="@User.Identity.Name" style=" color:white;
    background-color: #366CC7;
    border-radius: 25px;">@User.Identity.Name</a>
                <a asp-action="Logout" asp-controller="Account">LOGOUT</a>

                <a href="#about">ABOUT</a>
                <a href="#services">SERVICES</a>
                <a asp-action="Index" asp-controller="Home">HOME</a>



            }
            else
            {

                <a asp-action="Register" asp-controller="Account">SIGN UP</a>
                <a asp-action="Login" asp-controller="Account">LOG IN</a>
                <a href="#about">ABOUT</a>
                <a href="#services">SERVICES</a>
                <a asp-action="Index" asp-controller="Home">HOME</a>


            }

        </div>
    </header>


    <div class="container mt-4 space">
        <div class="card">
            <div class="card-body">
                <h5> Enhance your experience on our website by selecting skills you are interested in!</h5>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSkillModal">Add New Skill</button>
            </div>
        </div>
    </div>
    <!-- Modal for adding a new skill -->
    <form method="post" asp-action="EditPortfolio" asp-controller="Account" class="form-horizontal" id="myForm">
        <div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addSkillModalLabel">Add New Skill</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-4 space">
                            <div class="form-group">
                                <label for="skills">Select Skills:</label>
                                <select id="skills" name="Skills_Ids" class="selectpicker form-control" multiple data-live-search="true" data-size="5" required>
                                    <option value="default" selected disabled>skills</option>
                                    @foreach (var skill in Model.Skills)
                                    {
                                        <option value="@skill.SkillId">@skill.SkillName</option>

                                    }
                                    <!--FOR LOOP ON SKILLS-->
                                </select>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----------start of navigation card-------->
        <div class="container mt-4 space">
            <div class="card">
                <!----card header---->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab1">Personal Info</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2">University Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab3">Online Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab4">Books</a>
                        </li>
                    </ul>
                </div>
                <!----end of card header---->
                <div class="card-body">

                    <input type="hidden" name="UserId" value="@Model.UserId" />
                    @*                    <input type="hidden" name="UserName" value="@Model.UserName" />
                    *@
                    <div class="tab-content">
                        <!----start of tab1 [personal info]---->
                        <div class="tab-pane fade show active" id="tab1">
                            @* <div class="pic-holder">
                            <!-- profile pic -->
                            <img id="profilePic" class="pic" src="cs2.png">
                            <input class="uploadProfileInput" type="file" name="profile_pic" id="newProfilePhoto" accept="image/*" style="opacity: 0;" />
                            <label for="newProfilePhoto" class="upload-file-block">
                            <div class="text-center">
                            <div class="mb-2">
                            <i class="fa fa-camera fa-2x"></i>
                            </div>
                            <div class="text-uppercase"> Update <br /> Profile Photo</div>
                            </div>
                            </label>
                            </div>*@
                            </hr>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Personal info</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label class="col-sm-2"> First Name </label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="@Model.FirstName" name="FirstName" class="form-control" value="@Model.FirstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2"> Last Name </label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="@Model.LastName" name="LastName" class="form-control" value="@Model.LastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2"> Major</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="Major" class="form-control" value="">
                                        </div>
                                    </div>
                                    @* <div class="form-group">
                                    <label class="col-sm-2"> University</label>
                                    <div class="col-sm-10">
                                    <input type="text" name="uni" class="form-control" value="">
                                    </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-2">Website</label>
                                        <div class="col-sm-10">
                                            <input type="test" name="Website" class="form-control" value="@Model.Website">
                                        </div>
                                    </div>
                                    @* <div class="form-group">
                                    <label class="col-sm-2">E-mail address</label>
                                    <div class="col-sm-10">
                                    <input type="email" name="email" class="form-control" value="">
                                    </div>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="col-sm-2">Github</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="@Model.GitHub" name="GitHub" class="form-control" value="@Model.GitHub">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2">LinkedIn</label>
                                        <div class="col-sm-10">
                                            <input type="text" placeholder="@Model.LinkedIn" name="LinkedIn" class="form-control" value="@Model.LinkedIn">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2">Phone</label>
                                        <div class="col-sm-10">
                                            <input type="tel" placeholder="@Model.Phone" name="Phone" class="form-control" value="@Model.Phone">
                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                        <!--end of tab1-->
                        <!--start of tab2 [university courses]-->
                        <div class="tab-pane fade" id="tab2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">University Courses</h4>
                                </div>
                                <div class="panel-body">
                                    <div>

                                        <!--LOOP ON UNIVERSITY COURSES ALREADY SUBMITTED-->
                                        @foreach (var selectedCourse in Model.SelectedCourses)
                                        {
                                            <div class="course-box">
                                                <h5> @selectedCourse.CourseName <span class="delete-btn">×</span></h5>
                                            </div>
                                        }

                                        <!--END FOR LOOP-->

                                    </div>



                                    <div id="course-container">
                                        <div class="form-row course-row">
                                          <div class="form-group col-md-6">
                                            <label for="Courses" class="col-sm-6">Add New Course Name</label>
                                            <select id="Courses" name="Courses_Ids" class="col-sm-10 form-control select2" data-search="true" data-live-search="true" data-size="5" required>
                                              <option value="default" disabled selected>Select a course</option>
                                              <!-- Options populated from the database -->
                                              @foreach (var course in Model.Courses)
                                              {
                                                <option value="@course.CourseId">@course.CourseName</option>
                                              }
                                              <!-- Add more course options as needed -->
                                            </select>
                                          </div>
                                      
                                          <div class="form-group col-md-2">
                                            <label for="mark">Mark:</label>
                                            <select class="form-control" name="Grade" id="grade" required>
                                              <option value="default" disabled selected>Select Your Grade </option>
                                              <option value="A">A</option>
                                              <option value="Am">A-</option>
                                              <option value="B+">B+</option>
                                              <option value="B">B</option>
                                              <option value="B-">B-</option>
                                              <option value="C+">C+</option>
                                              <option value="C">C</option>
                                              <option value="C-">C-</option>
                                              <option value="D+">D+</option>
                                              <option value="D">D</option>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <button type="button" class="btn btn-primary" onclick="addCourse()">Add Another Course</button>
                                      </div>
                                </div>
                            </div>


                        </div>
                        <!--start of tab 3 [Online Courses]-->
                        <div class="tab-pane fade" id="tab3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Online Courses</h4>
                                </div>
                                <div class="panel-body">
                                    <div>

                                        <!--LOOP ON ONLINE COURSES ALREADY SUBMITTED-->
                                        @foreach (var selectedCourse in Model.SelectedOnlineCourses)
                                        {
                                            <div class="course-box">
                                                <h5>@selectedCourse.CourseTitle <span class="delete-btn">×</span></h5>
                                            </div>
                                        }


                                    </div>

                                    <div class="form-group">
                                        <label for="onCourses" class="col-sm-3">Add New Online Course URL</label>
                                        <select id="onCourses" name="OnlineCourses_Ids" class="col-sm-10 selectpicker" data-live-search="true" multiple data-size="5">
                                            <option value="default" selected disabled>Courses</option>
                                            <!--FOR LOOP ON COURSES-->
                                            @foreach (var course in Model.OnlineCourses)
                                            {
                                                <option value="@course.OnlineCourseId">@course.CourseTitle</option>

                                            }

                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- start of tab4 [books]-->
                        <div class="tab-pane fade" id="tab4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">Books</h4>
                                </div>
                                <div class="panel-body">
                                    <div>
                                        <!--LOOP ON BOOKS ALREADY SUBMITTED-->
                                        <div class="course-box">
                                            <h5>TEST <span class="delete-btn">×</span></h5>
                                        </div>

                                    </div>

                                    <!--***************take this edit 2*****************-->
                                    <div class="form-group">
                                        <label for="books" class="col-sm-3">Add New Book Name</label>
                                        <select id="books" name="Books_Ids" class="col-sm-10 selectpicker" data-live-search="true" multiple data-size="5">
                                            <option value="default" selected disabled>Books</option>
                                            <!--FOR LOOP ON BOOK NAMES-->

                                            <option value="test1">test1</option>
                                            <option value="test2">test2</option>
                                            <option value="test3">test3</option>

                                        </select>
                                    </div>
                                    <!--***************end edit 2*****************-->
                                </div>
                            </div>
                        </div>
                        <!--end of tab4-->

                        <div class="form-group">
                            <div class="col-sm-10 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!----------end of navigation card-------->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- scripts for pop up [skills form]-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
    <!--end of pop up scripts-->
    <script>
        //script for navigation card
        $(document).ready(function () {
            $('.nav-link').click(function () {
                $('.tab-pane').removeClass('show active');
                $($(this).attr('href')).addClass('show active');
            });
        });

        // script for delete skills when user press ×
        document.addEventListener('DOMContentLoaded', function () {
            var deleteButtons = document.querySelectorAll('.delete-btn');
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    var courseElement = button.closest('h5');
                    var courseNameInput = courseElement.nextElementSibling;
                    courseElement.remove();
                    courseNameInput.remove();
                });
            });
        });
//in div 2-function to add new select field when user click add new course button
        function addCourse() {
        // Clone the course row
        var courseRow = document.querySelector('.course-row');
        var newCourseRow = courseRow.cloneNode(true);

        // Clear the selected values in the cloned row
        var clonedCourseSelect = newCourseRow.querySelector('#Courses');
        clonedCourseSelect.selectedIndex = 0;
        var clonedMarkSelect = newCourseRow.querySelector('select[name="Grade"]');
        clonedMarkSelect.selectedIndex = 0;

        // Append the cloned row to the container
        var courseContainer = document.querySelector('#course-container');
        courseContainer.appendChild(newCourseRow);

        // Initialize the selectpicker for the cloned row
        $('.selectpicker').selectpicker('refresh');
  }
        </script>
    <!-- Include the necessary Bootstrap Select files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0/css/bootstrap-select.min.css">

    <!---***********************take this eit3 *********************---->
    <!----api request script-->
    <script>
        const form = document.getElementById('myForm');

        form.addEventListener('submit', function (event) {
        //  event.preventDefault(); // Prevent the form from submitting normally
        event.preventDefault(); // Prevent the default form submission


        // Get the form data
        const formData = new FormData(form);

        // Convert the form data to JSON
        const jsonData = {};


        // Initialize the SelectedUniCourses array
        jsonData.SelectedUniCourses = [];

        for (const [name, value] of formData.entries()) {
        if (name === 'Courses_Ids') {
        // Get the corresponding mark for the selected course
        const courseId = parseInt(value);
        const mark = formData.get('Grade');

        // Create a new course object and add it to the SelectedUniCourses array
        jsonData.SelectedUniCourses.push({
        CourseId: courseId,
        Grade: Grade
        });
        } else {
        jsonData[name] = value;
        }
        }


        for (const [name, value] of formData.entries()) {
        if (name === 'Books_Ids' ||  name === 'OnlineCourses_Ids') {
            if (jsonData[name]) {
                jsonData[name].push(parseInt(value));
            } else {
                jsonData[name] = [parseInt(value)];
            }
        } else {
            jsonData[name] = value;
        }
        }


            fetch('/Account/EditPortfolio', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(jsonData)
            })
                .then(response => response.json())
                .then(data => {


                    // Handle the response from the backend API
                    if (response.ok) {
                        // Success
                        console.log('Data sent successfully');
                        window.location.href = '/Home/Index'; // Replace with your desired redirect location

                        // Do something else (e.g., show a success message)
                    } else {
                        // Error
                        console.error('Error sending data');
                        // Do something else (e.g., show an error message)
                    }
                })
                .catch(error => {
                    console.error('Error sending data', error);
                    // Handle the error (e.g., show an error message)
                });
        });

    </script>
    <!---***********************end edit3 *********************---->
</body>


<!-----------------------start of footer section------------------------->
<footer>
    <a href="index.html"><img src="~/images/logo.png" alt="website-logo" width="160em" height="120em" /></a>
    <div class="navbar footernav">
        <a asp-action="Index" asp-controller="Home">SIGN UP</a>
        <a asp-action="Login" asp-controller="Account">LOG IN</a>
        <a href="#about">ABOUT</a>
        <a href="#login">SERVICES</a>
    </div>
    <br> <br>
    <div class="copyright">All Right reserved - CoStudy</div>
</footer>
<!-------------------------End of footer section----------------------------->
</html> 
